<h1 class="my-bookings-header">Upcoming Sessions</h1>
  <br>
  <h5 class="my-bookings-secondary">Mentors</h5>
  <br>
  <div class="bookings-container">
    <% if @mentee_bookings.length > 0 %>
      <% @mentee_bookings.each do |booking| %>
        <% if booking.mentor.user.photo.attached? %>
          <%= cl_image_tag booking.mentor.user.photo.key, class: "booking-avatar" %>
        <% else %>
          <%= image_tag "placeholder_person.jpg", class: "booking-avatar" %>
        <% end %>
          <%= booking.mentor.user.first_name %>
          <h6><em><%= booking.mentor.field %></em></h6>
          <%= link_to "Cancel Session", booking_path(booking), data: {turbo_method: :delete}, class: "btn-flat text-decoration-none" %>
          <%= mail_to booking.mentor.user.email do %>
            <a href="mailto:<%= booking.mentor.user.email %>" class="text-decoration-none btn-color">
              <i class="fas fa-envelope btn-color"></i> Contact
            </a>
          <% end %>
      <% end %>
  </div>

<h5 class="my-bookings-secondary">Mentees</h5>
<br>
<div class="bookings-container">
  <% if @mentor_bookings.length > 0 %>
    <% @mentor_bookings.each do |booking| %>
      <% if booking.mentor.user.photo.attached? %>
          <%= cl_image_tag booking.mentor.user.photo.key, class: "booking-avatar" %>
        </div>
      <% else %>
          <%= image_tag "placeholder_person.jpg", class: "booking-avatar" %>
      <% end %>
          <%= booking.user.first_name %>
          <% if booking.status == "pending" %>
            <%= form_tag(accept_booking_path(id: booking.id), method: :post) do %>
              <%= submit_tag "Accept", class: "btn-flat text-decoration-none btn-positive" %>
            <% end %>
            <%= form_tag(decline_booking_path(id: booking.id), method: :post) do %>
              <%= submit_tag "Decline", class: "btn-flat text-decoration-none btn-negative" %>
            <% end %>
          <% elsif booking.status == "accepted" %>
            <%= form_tag(decline_booking_path(id: booking.id), method: :post) do %>
              <%= submit_tag "Decline", class: "btn-flat text-decoration-none btn-negative" %>
            <% end %>
          <% elsif booking.status == "declined" %>
            <%= form_tag(accept_booking_path(id: booking.id), method: :post) do %>
              <%= submit_tag "Accept", class: "btn-flat text-decoration-none btn-positive" %>
            <% end %>
          <% end%>
        <%= form_tag(become_mentor_path, method: :post) do %>
          <%= submit_tag "Become a Mentor", class: "dropdown-item" %>
        <% end %>
      <% end %>
    <%= link_to "Accept", bookings_path(@bookings), class: "accept-decline" %>
    <%= link_to "Decline", bookings_path(@bookings), data: {turbo_method: :delete} %>
    <% end %>
  <% end %>
</div>
