<div class="bookings-header">
    <h1 class="bookings-title">My Bookings</h1>

</div>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(whitelogo.png)">
<%= image_tag  %>
  <%= @mentor..each do %>
    <%= @mentor.name %>
    <%= @mentor.description %>
    <%= @mentor.price_per_hour %>
  <% end %>
  <button class="find-btn">View Details</button>
</div>
