<h1 class="my-bookings-header">Upcoming Sessions</h1>
  <br>
<h5 class="my-bookings-secondary">Mentors</h5>
  <br>
  <div class="bookings-container">
    <% if @mentee_bookings.length > 0 %>
      <% @mentee_bookings.each do |booking| %>
          <% if booking.mentor.user.photo.attached? %>
            <%= cl_image_tag booking.mentor.user.photo.key, class: "booking-avatar" %>
          <% end %>
            <h5 class="my-bookings-secondary"><%= booking.mentor.user.first_name %></h5>
            <h6><em><%= booking.mentor.field %></em></h6>
            <div class="bookings-card-footer">
              <%= link_to "Cancel Session", booking_path(booking), data: {turbo_method: :delete}, class: "btn-flat text-decoration-none" %>
              <%= mail_to booking.mentor.user.email do %>
              <a href="mailto:<%= booking.mentor.user.email %>" class="text-decoration-none btn-color">
              <i class="fas fa-envelope btn-color"></i> Contact
            </a>
          <% end %>
      <% end %>
  </div>

<h5 class="my-bookings-secondary">Mentees</h5>
<br>
<div class="bookings-container">
  <% if @mentor_bookings.length > 0 %>
    <% @mentor_bookings.each do |booking| %>
          <h5 class="my-bookings-secondary"><%= booking.user.first_name %></h5>
          <%= cl_image_tag booking.mentor.user.photo.key, class: "booking-avatar" %>
          <p><%#= How do we put the personal description of booking session? %></p>
        <div class="bookings-card-footer">
          <%= link_to "Accept", bookings_path(@bookings), class: "btn-flat text-decoration-none btn-positive" %>
          <%= link_to "Decline", bookings_path(@bookings), data: {turbo_method: :delete}, class:"btn-flat text-decoration-none btn-negative" %>
        </div>
      <% end %>
    <div class="bookings-card-footer">
    <%= link_to "Accept", bookings_path(@bookings), class: "accept-decline" %>
    <%= link_to "Decline", bookings_path(@bookings), data: {turbo_method: :delete} %>
    </div>
    <% end %>
  <% end %>
</div>
