<div class='container'>
  <div class="text-header">
    <h2>Find your mentor</h2>
  </div>
  <div class="filter">
    <%= form_tag mentors_path, method: :get do %>
      <%= label_tag :country, "Country:" %>
      <%= select_tag :country, options_for_select(Mentor.pluck(:country).uniq) %>
      <%= label_tag :field, "Field:" %>
      <%= select_tag :field, options_for_select(Mentor.pluck(:field).uniq) %>
      <%= label_tag :price_per_hour, "Price per hour:" %>
      <%= number_field_tag :price_per_hour, params[:price_per_hour] %>
      <%= label_tag :experience, "Experience (in years):" %>
      <%= number_field_tag :experience, params[:experience] %>
      <%= submit_tag "Filter", class: "btn-flat" %>
      <%= link_to "Clear", request.referer %>
    <% end %>
  </div>
  <div class="cards">
    <% @mentors.each do |mentor| %>
      <%= link_to mentor_path(mentor) do %>
        <% url = "" %>
        <% if mentor.user.photo.attached?%>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mentor.user.photo.key, crop: :fill %>')"
>            <%= mentor.user.first_name.capitalize %>
          </div>
        <% else %>
          <% url = "https://images.pexels.com/photos/7006194/pexels-photo-7006194.jpeg"%>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=url%>)">
            <%= mentor.user.first_name.capitalize %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
