<div class = 'container'>
  <h1>Find your mentor</h1>
  <div class="cards">
   <%  @mentors.each do |mentor| %>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2><%= mentor.user.first_name %></h2>
      <h2><%= mentor.user.last_name %></h2>
      <%= link_to "Book", mentor_path(mentor) %>
    </div>
    <% end %>
  </div>
</div>

<%= form_tag mentors_path, method: :get do %>
  <%= label_tag :country, "Country:" %>
  <%= select_tag :country, options_for_select(Mentor.pluck(:country).uniq) %>
  <%= label_tag :field, "Field:" %>
  <%= select_tag :field, options_for_select(Mentor.pluck(:field).uniq) %>
  <%= label_tag :price_per_hour, "Price per hour:" %>
  <%= number_field_tag :price_per_hour, params[:price_per_hour] %>
  <%= label_tag :experience, "Experience (in years):" %>
  <%= number_field_tag :experience, params[:experience] %>
  <%= submit_tag "Filter" %>
<% end %>

<%= link_to "Back", request.referer %>
