<div class='container'>
  <div class="header-text">
    <h2>Find your mentor</h2>
  </div>
  <div class="form-container">
    <%= form_tag mentors_path, method: :get, class: "mentor-form" do %>
      <div class="form-group">
        <%= label_tag :country, "Country", class: "label-text" %>
        <%= select_tag :country, options_for_select([['', '']] + Mentor.pluck(:country).uniq.compact.reject(&:blank?).map{|c| [c,c]}, params[:country]), class: "input-field", id: "country-select" %>
      </div>
      <div class="form-group">
        <%= label_tag :field, "Field", class: "label-text"  %>
        <%= select_tag :field, options_for_select([['', '']] + Mentor.pluck(:field).uniq.compact.reject(&:blank?).map{|f| [f,f]}, params[:field]), class: "input-field", id: "field-select" %>
      </div>
      <div class="form-group">
        <%= label_tag :price_per_hour, "Price per hour $USD", class: "label-text" %>
        <%= number_field_tag :price_per_hour, params[:price_per_hour], class: "input-field" %>
      </div>
      <div class="form-group">
        <%= label_tag :experience, "Experience (in years)", class: "label-text"  %>
        <%= number_field_tag :experience, params[:experience], class: "input-field" %>
      </div>
      <div class="form-group form-actions">
        <%= submit_tag "Filter", class: "btn-flat primary-btn", id: "filter-btn" %>
        <%= link_to "Clear", mentors_path, class: "btn text clear-btn" %>
      </div>
    <% end %>
  </div>
  <div class="cards" id="mentors-list">
    <% @mentors.each do |mentor| %>
      <%= link_to mentor_path(mentor), class: "text-decoration-none" do %>
        <% url = "" %>
        <% if mentor.user.photo.attached?%>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path mentor.user.photo.key, crop: :fill %>')"
>            <%= mentor.user.first_name.capitalize %>
          </div>
        <% else %>
          <% url = "https://images.pexels.com/photos/7006194/pexels-photo-7006194.jpeg"%>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=url%>)">
            <%= mentor.user.first_name.capitalize %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Leave your review
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= render "review_modal" %>
  </div>
</div>
