<div class="container">
  <div class="show-page">
    <div class="row flex">
      <div class="col">
        <div class="avatar-attributes">
          <div class="header-text">
            <h1><%= @mentor.user.first_name.capitalize %> <%= @mentor.user.last_name.capitalize %></h1>
          </div>
          <div class="avatar-box">
            <% if @mentor.user.photo.attached? %>
              <%= cl_image_tag @mentor.user.photo.key, class: "show-avatar" %>
            <% else %>
              <h3>Photo</h3>
              <p>No photo uploaded yet</p>
            <% end %>
          </div>
          <div class="mentor-attributes">
            <div class="header-text">
              <h3>Mentor Details</h3>
            </div>
            <p>Location: <%= @mentor.country %> </p>
            <p>Field: <%= @mentor.field %></p>
            <p>Price: $<%= @mentor.price_per_hour %></p>
            <p>Experience: <%= @mentor.experience %></p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="middle-column">
          <div class="mentor-info">
            <%= @mentor.bio %>
          </div>
          <div class="ratings text-left">
            <div class="header-text">
              <h4>Reviews</h4>
            </div>
            <em>No ones reviewed this mentor yet, book a session to be the first!</em>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="booking-form">
          <%= simple_form_for [@mentor, @booking], url: mentor_bookings_path(@mentor), method: :post do |f| %>
            <%= f.input :start_time, as: :string, input_html: { class: 'flatpickr datetimepicker', data: { enable_time: true, min_date: 'today', max_date: '+14' } } %>
            <%= f.input :end_time, as: :string, input_html: { class: 'flatpickr datetimepicker', data: { enable_time: true, min_date: 'today', max_date: '+14' } } %>
            <%= f.input :description %>
            <%= f.input :status, as: :hidden, input_html: { value: 'pending' } %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.button :submit, "Create Booking", class: "btn-booking" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  flatpickr('.flatpickr', {
    enableTime: true,
    dateFormat: 'Y-m-d H:i',
          minuteIncrement: 30,

    minDate: 'today',
    maxDate: new Date(new Date().setDate(new Date().getDate() + 28)).toISOString().split('T')[0],

  //  onChange: function(selectedDates, dateStr, instance) {
  //     if (instance.element.name === 'booking[start_time]') {
  //       // Calculate the default end time (1 hour after the selected start time)
  //       selectedDates[0].setTime(selectedDates[0].getTime() + 3600000)
  //       var defaultEndTime = selectedDates[0]
  //       // Set the value of the end time input field to the default end time
  //       console.log(instance);
  //       instance.element.form[2].value = defaultEndTime
  //       // instance.element.nextElbooking[end_time]
  //     }
  //   }
  });
</script>
