<!DOCTYPE html>
<html>
  <head>
    <title>Mentor Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <div class="navbar">
<%= image_tag "MMlogo.png", class: "logo" %>
    <%= link_to "Find a Mentor", mentors_path, class: "nav-link" %>
    <%= link_to "Become a Mentor", new_mentor_path, class: "nav-link"%>
    <%= link_to "Sign Up", new_user_session_path, class: "nav-link"  %>
    <%= link_to "Log In", user_session_path, class: "nav-link" %>
</div>

      <%= yield %>
        <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
